<section class="container-fluid">
    <div id="marginTopT" class="row h-50">
        <div class="col-md 2">
            <h1 class="text-light">Liste Matières</h1>
        </div>
        <div class="col-md-6   ml-lg-4  mr-auto ">

            <table class="table table-sm table-striped table-hover bg-light">

                <thead class=" thead-dark ">
                    <tr>
                        <th scope=" col ">Famille</th>
                        <th scope=" col ">Code</th>
                        <th scope=" col">Designation</th>
                        <th scope="col">UM</th>
                        <th scope="col ">Quant stock</th>
                    </tr>
                </thead>
                <tbody>
                    <% TM.forEach(function (element) { %>
                    <tr>
                        <th scope="row"><%= element.Magasin %></th>
                        <td><%= element.Reference %></td>
                        <td><%= element.Designation %></td>
                        <td><%= element.UM %></td>
                        <td><%= element.Q_Stock %></td>
                    </tr>
                    <% } ) %>
                </tbody>
            </table>
        </div>
        <div class="col-md-3 mr-auto ">
            <form action="/ficheMatiere/search" method="GET" class="form-inline">
                <div class="form-group">
                    <input type="search" name="search" placeholder="search matière" class="form-control mr-2">
                    <input type="submit" value="Search" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>

</section>