<section class="container-fluid">
    <div id="marginTopT" class="row h-50">
        <div class="col-md-5   ml-lg-4  mr-auto ">

            <table class="table table-sm table-striped table-hover bg-light">

                <thead class=" thead-dark ">
                    <tr>
                        <th scope=" col ">Famille</th>
                        <th scope=" col ">Code</th>
                        <th scope=" col">Designation</th>
                        <th scope="col">UM</th>
                        <th scope="col ">Quant stock</th>
                    </tr>
                </thead>
                <tbody>
                    <% TM.forEach(function (element) { %>
                    <tr>
                        <th scope="row"><%= element.Magasin %></th>
                        <td><%= element.Reference %></td>
                        <td><%= element.Designation %></td>
                        <td><%= element.UM %></td>
                        <td><%= element.Q_Stock %></td>
                    </tr>
                    <% } ) %>
                </tbody>
            </table>
        </div>
    </div>

</section>