<section class="container-fluid">
    <div id="marginTopT" class="row h-50">
        <div class="col-md-1">
            <h1 class="text-light">Reception</h1>
        </div>
        <div class="col-md-7    m-auto ">
            <% include ./partials/messages %>
            <form action="/ficheMatiere/reception" method="POST">
                <table class="table table-sm table-striped table-hover bg-light">

                    <thead class=" thead-dark ">
                        <tr>
                            <th scope=" col ">Magasin</th>
                            <th scope=" col ">Famille</th>
                            <th scope=" col ">Code</th>
                            <th scope=" col">Designation</th>
                            <th scope="col">UM</th>
                            <th scope="col ">Quant stock</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i<20 ; i++) { %>
                        <tr>
                            <th scope="row">
                                <input type="text" name="Magasin" class="form-control"
                                    value="<%= typeof Magasin != 'undefined' ? Magasin : '' %> " required />

                            </th>
                            <th>
                                <input type="text" name="Famille" class="form-control"
                                    value="<%= typeof Famille != 'undefined' ? Famille : '' %> " />

                            </th>
                            <td>
                                <input type="text" name="Reference" class="form-control"
                                    value="<%= typeof Reference != 'undefined' ? Reference : '' %> " />

                            </td>
                            <td>
                                <input type="text" name="Designation" class="form-control"
                                    value="<%= typeof Designation != 'undefined' ? Designation : '' %>" />

                            </td>
                            <td>
                                <input type="text" name="UM" class="form-control"
                                    value="<%= typeof UM != 'undefined' ? UM : '' %>" />

                            </td>
                            <td>
                                <input type="text" name="Q_Stock" class="form-control"
                                    value="<%= typeof Q_Stock != 'undefined' ? Q_Stock : null  %>" />

                            </td>
                        </tr>
                        <% }  %>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary btn-block ">
                    Enregistrer
                </button>
            </form>
        </div>

    </div>


</section>